.g-accordion {
  word-break: break-word;
  overflow: hidden;
  transition: height .3s ease;
  width: 100%;
  //background-color: #F8E577;
  margin: 10px 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;

  &__title {
    transition: color .3s ease;
    font-size: 16px;
    line-height: 100%;
  }

  &__toggle-icon {
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
    transition: transform .3s ease;

    &:before, &:after {
      content: '';
      position: absolute;
      background: #091E16;
      transition: background .3s ease;
    }

    &:before {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      transform: translateX(-50%);
    }

    &:after {
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      transform: translateY(-50%);
    }
  }

  &__top {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #F8E577;
    font-weight: bold;
    position: relative;
  }

  &__content {
    padding: 20px 40px;
    font-size: 14px;
    line-height: 150%;
    background-color: #ffffff;
  }

  &--active {
    .g-accordion {
      &__toggle-icon {
        transform: rotate(45deg);
      }
    }
  }
}
