.g-container {
  max-width: 1500px;
  margin: 0 auto;
}

.g-profile__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 68px;
  border-radius: 100%;
  background: #F8E577;
  overflow: hidden;

  img {
    transform: translateY(10%);
  }
}

html {
  font-family: Zen Kaku Gothic New, sans-serif;
}

.w-100 {
  width: 100vw;
}

@media (max-width: 768px) {
  .g-profile__picture {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    margin-left: 20px;

    img {
      transform: translateY(10%);
    }
  }
}


@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro"),
  url(../fonts/MYRIADPRO-REGULAR.OTF) format("truetype");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: local("Zen Kaku Gothic New"),
  url(../fonts/ZenKakuGothicNew-Regular.ttf) format("truetype");
}
