.close {
  position: absolute;
  right: -68px;
  top: 0px;
  width: 48px;
  height: 48px;
  opacity: 0.3;
  z-index: 90;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 48px;
    width: 3px;
    background-color: white;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
